/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui/datepicker
 */
 
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import 'bootstrap';
@import 'font-awesome';


body {
  background: #1191ae;
  padding: 40px;
}

main{
  background: #fff;
  border-radius: 10px;
  padding: 60px 40px;
  color: #484849;
  max-width: 680px;
  margin: 0 auto;
}

footer, footer a{
  color: #fff;
}

footer nav{
  max-width: 680px;
  margin: 0 auto;
  padding-top: 60px;
}

/*
 * Typography
 */
 
h1{
   text-align: center;
   margin-bottom: 24px;
}

h1 a{
  color: #fff;
}

h1 a:hover{
  color: #fff;
}

h2{
  font-size: 30px;
  margin-bottom: 54px;
  text-align: center;
  
}

h2.prof-title{
  margin-bottom: 12px;
}

h3{
  font-size: 24px;
  margin-bottom: 50px;
  color: #484849;
}

img{
  height: auto !important;
}

main a{
  color: #25da9a;
  text-decoration: underline;
}


/* kaminari */
.pagination .page, .pagination .next, .pagination .last, .pagination .first, .pagination .prev{
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  width: 40px;
  padding: 5px 0;
  text-align: center;
  margin-right: 10px;
}

.pagination .next, .pagination .last, .pagination .first, .pagination .prev{
  width: 80px;
}

.pagination .page a{
  display: block;
}

/* common */
.w100{
  width: 100%;
  margin-bottom: 60px;
}


/* form */
.form-group{
  text-align: center;
  margin-bottom: 46px;
}

.form-group label{
  font-size: 24px;
  margin-bottom: 22px;
  color: #484849;
}

.form-group input{
  padding: 16px 14px;
}


/* good bad */
.good-submit{
  width: 55px;
  height: 55px;
  background-image: image-url("good.png");
  cursor: pointer;
}

@keyframes bg-anime {
 from{ background-position: left 0; }
 to{ background-position: right 0; }
}

.good-submit.is_animating{
  animation: bg-anime .8s steps(28);
}

.good-submit.done{
  background-position: right 0;
}

/* incrimental search */
#suggestList>li{
  margin-bottom: 20px;
  cursor: pointer;
  text-decoration: underline;
  color: #25da9a;
}


/*
 * users
 */
 
.prof-username{
  font-size: 20px;
  color: #9e9e9e;
  text-align: center;
  margin-bottom: 60px;
}